<form *ngIf="!submited"
      novalidate
      (ngSubmit)="submitForm()"
      [formGroup]="diveLogForm">

<div class="row">

    <div class="col-md-3">
        <div class="form-group"
             [class.has-error]="isInvalid('site')">
            <label for="site">Dive Site</label>
            <input class="form-control" id="site"

				formControlName="site"
                   placeholder="Dive site">
					 <span *ngIf="isInvalid('site')" class="help-block">
						 {{getValidationMessage('site')}}
					 </span>			        
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group"
             [class.has-error]="isInvalid('location')">
            <label for="site">Location</label>
            <input class="form-control" id="location"
				formControlName="location"
				placeholder="location">
			<span *ngIf="isInvalid('location')" class="help-block">
					 {{getValidationMessage('location')}}
					 </span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group"
             [class.has-error]="isInvalid('depth')">
            <label for="site">Max.Depth</label>
            <input class="form-control" id="depth"
			formControlName="depth"
			placeholder="depth">
<span *ngIf="isInvalid('depth')" class="help-block">
						  {{getValidationMessage('depth')}}
					 </span>

        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group"
             [class.has-error]="isInvalid('time')">
            <label for="site">Bottom time</label>
            <input class="form-control" id="time"
			formControlName="time"
			placeholder="time">
<span *ngIf="isInvalid('time')" class="help-block">
						 <!--Please Specify a time-->  {{getValidationMessage('time')}}
					 </span>

        </div>
    </div>
</div>



<div class="row">
    <div class="col-md-6">
        <div class="well">
            <div class="form-group">
                <label for="comments">Comments</label>
                <textarea class="form-control" id="comments" rows="5"
				formControlName="comments"></textarea>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="well">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="favorite" checked
					formControlName="isFavorite">
                           Mark as Favorite
                </label>
            </div>
            <div class="form-group">
                <label>Special dive</label>

                <div class="radio"
                     *ngFor="let diveType of specialDives">
                    <label>
                        <input type="radio" name="special" [value]="diveType"
						formControlName="special">
                               {{diveType}}
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

<pre>{{entry | json}}</pre>
<button class="btn btn-primary" type="submit"
        [disabled]="diveLogForm.invalid">Submit
</button>

</form>
<div *ngIf="submited">
    <h2>The form has been submitted successfully</h2>
    <pre>{{submitedDive | json}} </pre>
</div>